td,th,table
{
    border: 3px solid red;
    border-collapse: collapse;
}
.head
{
    padding: 20px;
}
.footer
{
    padding: 20px;
    text-align: center;
}
.menu
{
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}
img
{
    height: 250px;
    width: 200px;
}
